/* font size  */
$baseFontSize: 18px;
$secondFontSize: 24px;
$titleFontSize: 60px;

/* font family */
$fontGeometria: 'Geometria', sans-serif;
$fontAmatic: 'Amatic SC', cursive;
$fontBalsamiq: 'Balsamiq Sans', cursive;

/* Colors  */

$whiteColor: #ffffff;

//for text
$textColorOrange: #EB6224;
$textColorWhite: #ffffff;
$textColorLightBlue: #00C5F2;
$textColorDarkBlue: #322F82;


//for button
$btnOrangeColor: #EB6224;
$btnWhiteColor: #ffffff;
$btnDarkBlueColor:  #322F82;
$btnLightBlueColor:#00C5F2;
$btnVideoIcon: #F47900;


//for icon and link
$textLinkColorOrange: #F57F02;
$textLinkColorWhite: #ffffff;

//back-ground color
$lightBlue:  #00C5F2;;
$Orange: #FFA900;

/* Transition  */
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);