
.menu {
    display: flex;

    &__link {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.19;
        color: $textColorWhite;
        padding: 30px 0;
        transition: color $transition;

        &:hover, &:focus {
            color: $textColorOrange;
        }
    }

    @include tablet {
        gap: 20px;
    }
    
    @include desktop {
        gap: 50px;
    }

    @media screen and (max-width:767px) {

    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 100vh;
    overflow: scroll;

    padding-top: 90px;
    background-color: #FFA900;

    &__item {
        width: 100%;
        min-height: 90px;
        border-top: 1px solid $whiteColor;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
    }

    &__link {
        font-size: $secondFontSize;
        line-height: 1.21;
    }

    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        }
    }
}

.menu-button {
    display: inline-block;
    background-color: transparent;
    fill: $btnWhiteColor;
    transition: fill $transition;
    
    .icon-close-menu {
        display: none;
    }

    &.is-open .icon-close-menu {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    &.is-open {
        z-index: 1;
    }

    &:hover,
    &:focus {
        fill: $btnOrangeColor;
    }

    @include tablet {
        display: none;
    }
}